

.heading{

    color: red;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.maindiv{

    width: 300px;
    height: 200px;
    
    background-color: bisque;
    display: flex;
    flex-direction: column;
justify-content: space-between;
justify-content: center;

}

input{
    width: 220px;

}

button{
    width: 220px;
    background-color: brown;
    margin-top: 30px;
}

.pose{
    width: 120px;
    height: 70px;
}